<div class="container pt-30">
  <div class="row">
    <div class="col-md-12">
      <legend>The Witch Saga</legend>
    </div>
  </div>

  <%= form_with url: "/witch_sagas/results", method: :get, remote: :true do |f| %>
    <div class="row pt-30">
      <div class="col-md-2 pt-30">
        First people
        <span class="fright">:</span>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <label for="first_people_age_of_death" class="form-label">Age of Death</label>
            <input type="text" name="first_age_of_death" id="first_people_age_of_death" class="form-control">
          </div>
          <div class="col-md-6">
            <label for="first_people_age_of_death" class="form-label">Year of Death</label>
            <input type="text" name="first_year_of_death" id="first_people_age_of_death" class="form-control">
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-30">
      <div class="col-md-2 pt-30">
        Second people
        <span class="fright">:</span>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <label for="first_people_age_of_death" class="form-label">Age of Death</label>
            <input type="text" name="second_age_of_death" id="first_people_age_of_death" class="form-control">
          </div>
          <div class="col-md-6">
            <label for="first_people_age_of_death" class="form-label">Year of Death</label>
            <input type="text" name="second_year_of_death" id="first_people_age_of_death" class="form-control">
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-30">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary fright">Submit</button>
      </div>
    </div>
  <% end %>

  <div class="row pt-30 result">
    <div class="col-md-2 col-sm-6">
      First Person Born
      <span class="fright">:</span>
    </div>
    <div class="col-md-2 col-sm-6 result_first_person_born">

    </div>
    <div class="col-md-4 col-sm-6">
      First number of people killed on Year <span class="result_first_year"></span>
      <span class="fright">:</span>
    </div>
    <div class="col-md-2 col-sm-6 result_first_year_people_killed">

    </div>
  </div>

  <div class="row pt-15">
    <div class="col-md-2 col-sm-6">
      Second Person Born
      <span class="fright">:</span>
    </div>
    <div class="col-md-2 col-sm-6 result_second_person_born">

    </div>
    <div class="col-md-4 col-sm-6">
      Second Number of people killed on Year <span class="result_second_year"></span>
      <span class="fright">:</span>
    </div>
    <div class="col-md-2 col-sm-6 result_second_year_people_killed">

    </div>
  </div>

  <div class="row pt-30">
    <div class="col-md-2 col-sm-6">
      The Average
      <span class="fright">:</span>
    </div>
    <div class="col-md-2 the_average">

    </div>
  </div>
</div>