$(".result_first_person_born").html("<%= @first_person_born %>");
$(".result_second_person_born").html("<%= @second_person_born %>");

$(".result_first_year").html("<%= @first_person_born %>");
$(".result_second_year").html("<%= @second_person_born %>");

$(".result_first_year_people_killed").html("<%= @first_number_people_killed %>")
$(".result_second_year_people_killed").html("<%= @second_number_people_killed %>")

$(".the_average").html("<%= @average %>")